# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Data files (puoi modificare se vuoi tenere alcuni dati)
data/*.h5ad
data/*.h5
data/*.csv
data/*.tsv

# PyTorch model files
*.pt
*.pth

# Logs and temporary files
*.log
*.tmp
*.swp

# VS Code settings
.vscode/

# Conda environment files
.env
.envrc

# temporary files created by users
cli_test_main.py
test_main.py

# plot folders
heatmaps/
triplets/

# Datasets
data/

# Results
results/